@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* html {
    font-size: 10px;
} */
body {
    background: url('../img/bg.jpg');
    font-family: 'El Messiri', sans-serif;
    font-size: 1.2em;
}
h1 {
    font-weight: bold;
    font-size: 4em;
    margin: .5em 0;
}
img {
    max-width: 100%;
}
.thanks-body {
    background: url(../img/thanks-bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
}
.title {
    text-align: center;
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 65px;
    margin: 0;
    padding: 0;
}
.subtitle {
    text-align: center;
    font-family: 'Gilroy Light', sans-serif;
    font-size: 45px;
    margin: 0;
}

/* @media (max-width:1199px) {
    .title {
        font-size: 5rem;
    }

    .subtitle {
        font-size: 3.5rem;
    }
} */

@media (max-width: 768px) {
    h1 {font-size:3em;} /*1rem = 16px*/
    .about {
        text-align: center;
        margin: 1em 0 0 0;
    }
    .title {
        font-size: 55px;
    }

    .subtitle {
        font-size: 40px;
    }

}
@media (max-width:560px) {
    .title {
        font-size: 50px;
    }
    .subtitle {
        font-size: 35px;
    }
}
@media (max-width: 425px) {
    .title {
        font-size: 45px;
    }
    .subtitle {
        font-size: 30px;
    }
}
@media (max-width: 375px) {
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: 25px;
    }
}